@import url("styles/header.css");
@import url("styles/carrossel.css");
@import url("styles/banner.css");
@import url("styles/destaques.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --fonte-titulo: 'Poppins';
    --fonte-texto:  'Rubik';

    --amarelo-claro: #fbf2ef;;
    --azul: 	     #2B50AA;
    --branco: 		 #FFFFFF;
    --cinza: 		 #a3a3a3;
    --preto: 		 #272727;
    --laranja: 		 #fe7647;
    --laranja-claro: #ffb17d;
    --rosa-claro:    #FFD4D4;
    --salmao: 		 #fa5d5d;
    --cor-icones:    var(--salmao);
	
    --sombreado: drop-shadow(5px 2px 5px #3d030357);
}

.laranja    { background-color: var(--laranja-claro); }
.rosa       { background-color: var(--rosa-claro); }
.amarelo    { background-color: var(--amarelo-claro); }
.azul       { background-color: var(--azul-claro); }