.banner {
    overflow: hidden;
    font-family: var(--fonte-texto), sans-serif;
    display: flex;
    margin: 2em 1em;
    border-radius: 25px;
    max-width: 40em;
    min-width: 20em;
    max-height: 300px;
}

.banner__conteudo {
    display: flex;
    padding: 2em 0.3em 2em 2em;
}

.conteudo__texto {
    display: flex;
    line-height: 1.2em;
    font-weight: 400;
    flex-direction: column;
    padding-right: 20%;
}
.conteudo__titulo {
    font-family: var(--fonte-titulo);
    color: var(--preto);
    font-weight: 700;
    font-size: 1.3em;
    text-align: left;
    margin-bottom: 0.6em;
}

.conteudo__link {
    font-size: 0.9em;
    background-color: var(--salmao);
    padding: 0.5em 3em;
    margin-top: 0.8em;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: var(--branco);
    text-transform: uppercase;
    max-width: 20em;
}
.conteudo__link:hover {
    background-color: #d14b4b;
}

.conteudo__destaque {
    text-decoration: underline var(--azul);
}
.banner__imagem {
    padding-top: 15px;
    height: 220px;
    width: auto;
    filter: var(--sombreado);
}