.carrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrossel__cabeçalho {
    font-family: var(--fonte-titulo);
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrossel__titulo {
    padding:  0;
    color: var(--preto);
    font-weight: 700;
    font-size: 18px;
}

.carrossel__link {
    text-decoration: none;
    border: 1px solid var(--salmao);
    border-radius: 25px;
    padding: 1em 1.2em;
    color: var(--salmao);
    font-size: 0.8em;
}

.carrossel__link:hover {
    color:var(--azul);
    border: 1px solid var(--azul);
}

.swiper {
    margin: 0 1em;
}

.swiper-slide {
    box-sizing: border-box;
    width: 120px;
}

.swiper-slide img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    object-fit: cover;
}

.swiper-slide__titulo {
    margin: 0.5em 0.3em;
    padding: 0.2em;
    font-family: var(--fonte-titulo), sans-serif;
    font-size: 0.9em;
    color: var(--preto);
    text-align:center;
    text-decoration: none;
}

.swiper-slide__titulo:hover {
    color: var(--vermelho);
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

@media screen and (min-width:1024px) {
    .carrossel {
        margin: 1.5em 4em;
        align-items: center;
    }

    .carrossel__cabeçalho {
        font-size: 1.2em;
        justify-content: left;
        gap: 1em;
    }

    .swiper-slide {
        width: 120px;
    }

    .swiper-slide img {
        height: 120px;
        width: 120px;
        border-radius: 100px;
        object-fit: cover;
    }

    .swiper-slide__titulo {
        font-size: 1.1em;
    }
}