.destaques {
    padding:2% 10%;
    background-color: var(--amarelo-claro);
}

.destaques__cabeçalho {
    font-family: var(--fonte-titulo);
    margin-bottom: 1.5em;
    display: flex;
	gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.destaques__titulo {
    font-family: var(--fonte-titulo), sans-serif;
    padding: 0;
    color: var(--preto);
    font-weight: 700;
    font-size: 18px;
}

.destaques__link {
    text-decoration: none;
    border: 1px solid var(--salmao);
    border-radius: 25px;
    padding: 1em 1.3em;
    color: var(--salmao);
    font-size: 0.8em;
	text-wrap: nowrap;
}

.destaques__link:hover {
    color: var(--azul);
    border: 1px solid var(--azul);
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
    gap: 1em 1.3em;
	justify-content: center;
}

.card-produto__imagem {
    display: flex;
    max-width: 110px;
    max-height: 170px;
    position: absolute;
    filter: var(--sombreado);
    z-index: 2;
    bottom: 35%;
}
.card-produto {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    height: 260px;
    min-width: 12em;
    max-width: 15em;
    background-color: var(--rosa-claro);
    border-radius: 18px;
    padding: 1.3em 1em 1em 1em;
    overflow: hidden;
    filter: drop-shadow(2px 2px 2px #7049494d);
}

.card-produto__texto {
    z-index: 1;
    box-sizing: border-box;
    font-family: var(--fonte-titulo), sans-serif;
    border-radius: 18px;
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
    background-color: var(--branco);
    padding: 1.5em 1.3em;
}

.card-produto__titulo {
    color: var(--preto);
    font-size: 14px;
    font-weight: 600;
}

.card-produto__subtitulo {
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 0.3em;
    color: var(--azul);
}

.card-produto__valor {
    font-weight: 700;
    font-size: 1.4em;
    color: var( --salmao);
}

.card-produto__botao-comprar {
	color: var(--branco);
    box-sizing: border-box;
    padding: 0.9em;
    margin: 1em;
    background-color: var( --salmao);
    border-radius: 50px;
    position: absolute;
    right: 0;   
}

.card-produto__botao-comprar:hover {
    background-color: #d14b4b;
}

.card-produto__botao-favoritar {
	color: var(--salmao);
    box-sizing: border-box;
    padding: 0.9em;
    margin: 1em;
    border: 1px solid var(--salmao);
    border-radius: 100px;
    position: absolute;
    left: 0;  
    top: 0;
}

.container {
    margin-top: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:1024px) {
    .destaques__cabeçalho {
        font-size: 1.2em;
        justify-content: left;
        gap: 1em;
    }
}