
.cabeçalho {
    background-color: var(--amarelo-claro);
}

.cabeçalho__titulo {
    font-family: var(--fonte-titulo), "Times New Roman", sans-serif;
    font-weight: 700;
    padding: 2.5em 0 2em 0;
    text-align: center;
}

.cabeçalho__pesquisa {
    text-align: center;
    color: var(--branco);
    font-family: sans-serif;
    padding: 1em;
    background-color: var(--laranja);
    border: none;
    border-radius: 25px;
    width: 90%;
    margin: 0 1.5em 2em 1.5em;
}

.cabeçalho__pesquisa::placeholder {
    opacity: 1;
    color: var(--branco);
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-indent: 50%;
    text-align: center;
    background: url("../img/lupa.svg") no-repeat;
    background-position: 2em;
    background-size: 1.2em;
}

.container-faixa {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3em 0;
}

.faixa-opçoes__link {
	margin: 0 0.7em;
	text-decoration: none;
	color: var(--cor-icones);
}

/* MENU HAMBÚRGUER */

.menu__botao {
	display:none;
}

.menu__icone,
.faixa-opçoes {
	padding: 0 1.3em;
}

.lista-menu {
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 3.5em;
	background-color: var(--branco);
	width: 100%;
	padding: 1em 0.8em;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 3;
}

.lista-menu__item,
.lista-menu__titulo {
	padding: 0.5em;
	font-family: var(--fonte-texto), sans-serif;
	font-size: 0.9em;
	color: var(--preto);
	font-weight: 400;	
}

.lista-menu__link {
	text-decoration: none;
	color: var(--preto);
}

.lista-menu__titulo {
	font-weight: 700;
	font-size: 1em;
	letter-spacing: 0.1em;
}

.lista-menu__item:hover {
	background-color: #f2f7f7;
}

.menu__botao:checked ~ i {
	color: red;
}

.menu__botao:checked ~ .lista-menu {
	display: inline-block;
}