.rodape {
    margin-top: 2em;
    background-color: var(--rosa-claro);
    padding: 2em;
}

.rodape__container {
    display: flex;
    gap: 1.3em;
}

.rodape h1 {
    font-family: var(--fonte-texto);
    text-align: center;
    font-size: 1em;
    margin-bottom: 2em;
    font-weight: 700;
}

.rodape__links {
    flex-grow: 1;
    font-size: 0.8em;
    font-family: var(--fonte-texto);
}

.rodape__link:hover {
    color: var(--salmao);
}

.rodape__titulo {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.2em
}

.rodape__link {
    text-decoration: none;
    color: var(--preto);
    line-height: 190%;
}
